Serial Number,Device Blueprint,Name,hostname,loopback,profile,region,isp1_intf,isp2_intf,mpls_intf,lan_intf,lan_ip,lan2_intf,lan2_ip
{{ sn_site1_1 }},Edge-West-RegionalHQ,site1-1,site1-1,10.200.1.1,OneSizeFitsAll,West,port1,port2,port4,port5,10.0.1.1/24,port6,10.0.101.1/24
{{ sn_site1_2 }},Edge-West-BranchOffice,site1-2,site1-2,10.200.1.2,OneSizeFitsAll,West,port1,,port4,port5,10.0.2.1/24,,
{{ sn_site1_H1 }},Hubs-West,site1-H1,site1-H1,10.200.1.253,OneSizeFitsAll,West,port1,port2,port4,port5,10.1.0.1/24,,
{{ sn_site1_H2 }},Hubs-West,site1-H2,site1-H2,10.200.1.254,OneSizeFitsAll,West,port1,port2,port4,port5,10.2.0.1/24,,
