Host C11
  Hostname {{ip}}
  Port 11000
  User root

Host C12
  Hostname {{ip}}
  Port 11001
  User root

Host C1H1
  Hostname {{ip}}
  Port 11002
  User root

Host C1H2
  Hostname {{ip}}
  Port 11003
  User root

Host C21
  Hostname {{ip}}
  Port 11004
  User root

Host C2H1
  Hostname {{ip}}
  Port 11005
  User root

Host FMG
  Hostname {{ip}}
  Port 11006
  User admin

Host FGT11
  Hostname {{ip}}
  Port 11007
  User admin

Host FGT12
  Hostname {{ip}}
  Port 11008
  User admin

Host FGT1H1
  Hostname {{ip}}
  Port 11009
  User admin

Host FGT1H2
  Hostname {{ip}}
  Port 11010
  User admin

Host FGT21
  Hostname {{ip}}
  Port 11011
  User admin

Host FGT2H1
  Hostname {{ip}}
  Port 11012
  User admin

Host VYOS11
  Hostname {{ip}}
  Port 11013
  User vyos
  HostKeyAlgorithms +ssh-rsa

Host VYOS12
  Hostname {{ip}}
  Port 11014
  User vyos
  HostKeyAlgorithms +ssh-rsa

Host VYOS21
  Hostname {{ip}}
  Port 11015
  User vyos
  HostKeyAlgorithms +ssh-rsa

Host VYOSH
  Hostname {{ip}}
  Port 11016
  User vyos
  HostKeyAlgorithms +ssh-rsa

Host VYOSM
  Hostname {{ip}}
  Port 11017
  User vyos
  HostKeyAlgorithms +ssh-rsa

Host ZTOOL
  Hostname {{ip}}
  Port 11019
  User root

Host ZZEXT
  Hostname {{ip}}
  Port 11020
  User admin