Serial Number,Device Blueprint,Name,hostname,loopback,profile,region,isp1_intf,isp2_intf,lte_intf,lan_intf_edu,lan_ip_edu,lan_intf_fin,lan_ip_fin
{{ sn_site1_1 }},Edge-DualISP,site1-1,site1-1,10.200.1.1,JustBranch,SuperWAN,port1,port2,,port5,10.0.1.1/24,port6,10.0.101.1/24
{{ sn_site1_2 }},Edge-ISP-LTE,site1-2,site1-2,10.200.1.2,JustBranch,SuperWAN,port1,,port2,port5,10.0.2.1/24,port6,10.0.102.1/24
{{ sn_site1_H1 }},Hub,site1-H1,site1-H1,10.200.1.253,DC,SuperWAN,port1,port2,,port5,10.1.0.1/24,,
{{ sn_site1_H2 }},Hub,site1-H2,site1-H2,10.200.1.254,DC,SuperWAN,port1,port2,,port5,10.2.0.1/24,,
