Serial Number,Device Blueprint,Name
{{ sn_site1_1 }},Edge-DualISP,site1-1
{{ sn_site1_2 }},Edge-ISP-LTE,site1-2
{{ sn_site1_H1 }},Hub,site1-H1,site1-H1
{{ sn_site1_H2 }},Hub,site1-H2,site1-H2
{{ sn_site2_H1 }},LegacySite,site2-H1
