config vpn certificate local
    edit "CorporateVPN"
        set range global
        set password ENC 0GHGKlcbioOGmEo/+NXpfmTd+2q4y/bKvMYDN+Jyyh0bSG053yCbGGYqa03WjipH2lzWeRye8X3tpZtSRIlotE9EqvOQm/59vwc65V6RMS99Le+lCm9xJsUflIbyOW1iAsVCWRD1Fz9LY5A9rom/6UFYDAhQ1N0qv7W1tt8PMt8KHCvlz7N98fQmKElT/hsD4auhXVlmMjY3dkVA
        set private-key "-----BEGIN ENCRYPTED PRIVATE KEY-----
MIIFJDBWBgkqhkiG9w0BBQ0wSTAxBgkqhkiG9w0BBQwwJAQQcXOfCh3M/kN9h5ft
aGC5jgICCAAwDAYIKoZIhvcNAgkFADAUBggqhkiG9w0DBwQIpf91lMvPuIEEggTI
D5WtJBHgx9gpqEqb+kFVzcByzyAoa5eP6ApXxgpAuSyVdVUBbeBMULniq3FWCbj0
07iUAvHFMpDRg4rgPUSu1nz7lDxKyfw3TOB9IHOlFwn0qoE5OxTKgQJ8hJhJ58EV
lG/28c/UsoPpDVVtahLUBGZJE1Yk2VMDZEqgy/xd3sc5wBAuaFztUaP7zhl+HfTD
ROnV/eISRca+JkeVyFe+F86eD4BRiA7HgkBjqI9Xis5PjGcSIy3ZzPmBR7+Di/at
Q9T8/qHoyRneV1g8zcN6677TLB6SniLqtzXP3eGcIVthk1+RrAwN6aza9edbaqHu
wWvEikX0rquJ0srWXpcnLiu+QHKcYD7TVKNH5lGFreidcdZxAy/XNRfH6FON9ByB
S2XZyg/0nCYlZItEr6OPLA5av4cDtZRiSaMWGhhcjtHbkYMLDQjB8SdWXP82F/78
mS3RUT5PrkUbeF+Yj3c529RclnzyPN7HnGCPlDKlV4bZGiQz+dxRpaNL9INhYRD8
I9pXQTfWnT0DTaWJ+2Y//t33SIoOqqm/J+VI8sQFgWCuYfSqFJexW8P7/i/CFhSh
kiuFnPkKKFIarNThiMIlofgfrSauFzA+x9n9DDKB7K3rgazPIwvPwkh+KvrzP/L8
BmGLJwVs/hUrpmKD5559qAYwe2NKl9aMPRwe90o/S1xzzgKhjxJY8hWOK4bogZaE
FBwCchdcLbGJdS4kvYH/0+S0+ln339DwyX0AJUotyg+mtDL9Y9ivhfp0EtoCEA2N
xby9v1GdeHtLYiQDd5W1Xd7gNg1ORiKwV50AuuI5PKGb7erTjYYbUAD8pK/76zHa
ejxyxLxv/iDF2QCCzL8PSL30Z14mx6U/hyVUW8ZnPzG7JvM72JB2bdodqSjGXEga
mOpgPac7MIms555VF0cx2m3i3bNRUtpekANOf3XPZGcQ2upEUUnSE/Gyvk148+Xp
YfnIUrbfU3UiRxP5P9S+JglNBjGP22BHExDzUQS35mhB9++BJjZKfuNJXOqOmQWa
0J+z7QMbzx81rGUy+UxcRrjyAppHiuv/CZDsEw37Z2/3IBau+Ymu4h54D8Bq6qGk
nEE1GLuSYWc1Y/Gz34XeOgyXECKT7vhZyZXoNYhv3oD7uezRD9S1rwVvLkKnn3EJ
z/uBcDaWY2L+8dUq/LGFtvtVctDunoRfjbUzqUi0uMXefJvSb5W7hTutowrOtmnU
DKSjHXsIZem6JmCRRsEABSlhbEVpvKFa85lILte8xhtgCnEwAL5dzepcDsQD7ACw
Z2dDW3eKx3Z4tBjvDteOAsHJe3aJ6hXz7yChyZ6cA0aQm8qo+fIQXiED48JiVjMI
qVP8xUwj5wozByQ8RUS1q9a/HC8e0ikPagW3/Ixv/i+OWXfpdnUOdOr9orWuUaQn
toHD5aV1+WIG1GoDcZGRvpV7WyMPUUEyr2hwPesWJLdMivKb9p7Ic1vPh0Ba61F2
I2Op9XzNhwHzBMnlvSXzrEEzax2/Da6fZ7dzl6Wi3IEVdZl5oMhlH4u8Y3IC3aS2
qmsNYuLW1zcn2l6EzUqkxDLrIWoiZPHmorFg6q5gMiFiOtfvDSeV5oHmgzxRwYUL
zFfB6nQpfGNH5hHXO+kue+Cu8ZQms8Ka
-----END ENCRYPTED PRIVATE KEY-----"
        set certificate "-----BEGIN CERTIFICATE-----
MIIEQjCCAyqgAwIBAgIJAL3U+inAvh4+MA0GCSqGSIb3DQEBCwUAMFoxCzAJBgNV
BAYTAk5MMRAwDgYDVQQHDAdVdHJlY2h0MREwDwYDVQQKDAhGb3J0aW5ldDEMMAoG
A1UECwwDQ1NFMRgwFgYDVQQDDA9GQUNfVU5JU0FTRV9MQUIwHhcNMjUwNjIwMTUx
MTA5WhcNMjcxMjA3MTUxMTA5WjA1MQwwCgYDVQQLDANDU0UxJTAjBgNVBAMMHGlw
c2VjLmZvcnRpZGVtby5mb3J0aW5ldC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IB
DwAwggEKAoIBAQCZKjdscbALHZDHAElHvX4msH4shsSiYE9eyppj8WCVELI6uVzf
BRtvX5V2GtHdHke1w5bCXBpLBlcDLYUK47wh8ihOsI5dOg8hV1I0Tk0oEQ2vvNNz
3zrOoJrzmu/zz0/xfy9XZ88uIIePTM1V/ztjFj9dfm+rgMJ7FbY3jMdtKsxsjFTu
r9TZ/cGO9TW7YtWKBq39BQHwndFEyT+L0UO5R7GF38k4cph2Y/wtDOeteOSGzKyw
HZY6jsVkZJ1Ukd4edj871l2yID06Gn58DeFS88gyuOSixZAEF3wviK540RwtNWDj
nBSv3C2h+6JujCgKD2Pgbg4FGutusTvmxCChAgMBAAGjggEuMIIBKjAMBgNVHRMB
Af8EAjAAMB0GA1UdDgQWBBTbrd8i+ALJDBdrB6RLC37VZHMTtTCBiwYDVR0jBIGD
MIGAgBTJ6YpPsRMDS+PDhfc9Q1y7ezFWh6FepFwwWjELMAkGA1UEBhMCTkwxEDAO
BgNVBAcMB1V0cmVjaHQxETAPBgNVBAoMCEZvcnRpbmV0MQwwCgYDVQQLDANDU0Ux
GDAWBgNVBAMMD0ZBQ19VTklTQVNFX0xBQoIIEUVuzOTAe0gwQQYDVR0RBDowOIIc
aXBzZWMuZm9ydGlkZW1vLmZvcnRpbmV0LmNvbYIYKi5mb3J0aWRlbW8uZm9ydGlu
ZXQuY29tMAsGA1UdDwQEAwIE8DAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUH
AwIwDQYJKoZIhvcNAQELBQADggEBANplQTQVEaJJJa3H3kcW2hDo6D4aonV8lLaQ
P1cQ86pie82vJj3zDVhyTSfm2vKn0lmnyGcFJdzjyI9eswkdf0qHMyBnzPMgtMWi
61a9YNKjGLlXnzK82qHcyfwJdnxyQ5O601D0LS/SqqFCEHq891RkOdJABleZEvbv
zix3OW0PPHVdKSjOP2koNDMVKJgk4bYaRac/XUbHU8wkFd2fqFBxjdPXXFXwuz8E
NLlyCFWvWNerIueF84E7sXj6clEWKAroo1p0uk1Y9xHyP8p2Jwg9kuoro/a4Vu6J
dFDEXGgNXNRok/TDxsSRSUS0Zvye189R5H7dMmHRBIkT6HotWI8=
-----END CERTIFICATE-----"

    next
end


config vpn certificate remote
    edit "fac_fortidemo_wildcard"
    	set range global
        set remote "-----BEGIN CERTIFICATE-----
MIIFUzCCBDugAwIBAgIUBG/VTohexbGUrCXuDmUAeAsS3fcwDQYJKoZIhvcNAQEL
BQAwgaAxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlhMRIwEAYDVQQH
EwlTdW5ueXZhbGUxETAPBgNVBAoTCEZvcnRpbmV0MR4wHAYDVQQLExVDZXJ0aWZp
Y2F0ZSBBdXRob3JpdHkxEDAOBgNVBAMTB3N1cHBvcnQxIzAhBgkqhkiG9w0BCQEW
FHN1cHBvcnRAZm9ydGluZXQuY29tMB4XDTI2MDMxMTIxNDQyNFoXDTI3MDMxMTIx
NDQyNFowgZ8xCzAJBgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMRIwEAYD
VQQHDAlTdW5ueXZhbGUxETAPBgNVBAoMCEZvcnRpbmV0MQwwCgYDVQQLDANNSVMx
ITAfBgNVBAMMGCouZm9ydGlkZW1vLmZvcnRpbmV0LmNvbTEjMCEGCSqGSIb3DQEJ
ARYUc3VwcG9ydEBmb3J0aW5ldC5jb20wggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAw
ggIKAoICAQCdoDL+HqTkaZzpZ/B4qJxa9mfI2w6OCKr0FBK7u4YbQkgxitY/CkSk
wokVL9G3B07LsmSp9nerGDPxBpQqlBlFLAVwwuOuXH+IICQLWOqJjPwQSt4kNI70
9MbhcEsB2IQYlZDw9G7LGKZILjegQxk0uxDUoQk/gEf1myOvziekPv23CWu1mDgr
VjyISyKcgS1rO5BbdvwIatPZDehXGoaTnb4G5GgrnXM5ELWSqB+hBorkSS3ujHep
ouBBWWnpqKFuCxAoQr8brVsl4dFU9J9kpU6txFeCiRT1g11iCX2yscM5E14UJ0gh
UvGo3VDd4e3RclIFizlmvQAPV9+sHLDPJq7TdiB94hmF7RqvdHGFY7EUhgMrUWAW
9ecGRpPOQtgxSHKFf+HfiPdpKyLf4COhohyJ5TTlUPu9GCpr1e5yClR/O3WwKEwW
b3asr7h7pSrNw4k0zfAoaU3ZzGqtbxZeUl7zQCaRc+NihHdclk1p/4dlR85x9LDK
9PdX+aI4QGGx2CurzL5i11AxyN7VTkRQkNwYVUEr7NC7KX0PjUlxyl6Ew8tRHHh6
DXB3BBdEHCsxsIdrFRm85QiVuFpv7tPi0NApyTvlVk0qHxg3xPlPTFpw6Rnjr1k/
RiVDU6lOCfPqsrAKECjJy8UGUZf6NccKqhebRred3dH1D68d8r8U6wIDAQABo4GD
MIGAMAkGA1UdEwQCMAAwQQYDVR0fBDowODA2oDSgMoYwaHR0cDovL3BraS5mb3J0
aW5ldC5jb20vY2VydC9jcmwvRm9ydGluZXRfQ0EuY3JsMAsGA1UdDwQEAwIFoDAj
BgNVHREEHDAaghgqLmZvcnRpZGVtby5mb3J0aW5ldC5jb20wDQYJKoZIhvcNAQEL
BQADggEBAGZc/97TFu1OV3oh7AKisxoCvzytuTUzbXdhwiC1N3LYKs3PvSegerak
96ill6CpK8iwE9zX4K4Eag/WmkdW+Yu4NLyJwnYpREBJ5NtopZ4wPZX5Gvsn/fTg
Eh869P3O4ai46twmfGXYyE9pKvuTp2SaA3/aBJC+X3UzMtrm3CtGGrBo4GiWN8yM
JbBT1a9/tSqEpN0eowaxQ9N4G91u3n4qi5F7Gtg/xU2YNY6vG6687xsb4iWOm3hR
X4oxo9hDRFwmejmEH/DGU+Fg1hy/OpxKgjPfAjCWtH9F7rCxFQhPyj0bcZ7gadIP
nOtWlItJvO/TvgFLeMJlEjcXni9hVCw=
-----END CERTIFICATE-----"
        
    next
end

config vpn ssl settings
    set banned-cipher SHA1 SHA256 SHA384
    set servercert ''
    set port 11443
end

config system global
    set admin-scp enable
    set admin-sport 8443
    set admin-https-redirect disable
    set admintimeout 480
    set alias "FortiGate-VM64-KVM"
    set auth-ike-saml-port 443
    set hostname "site1-1"
    set timezone "US/Pacific"
end


config user setting
    set auth-cert "CorporateVPN"
end

config user saml
    edit "CORP_SAML_SERVER"
        set entity-id "http://ipsec.fortidemo.fortinet.com/remote/saml/metadata/"
        set single-sign-on-url "https://ipsec.fortidemo.fortinet.com/remote/saml/login"
        set single-logout-url "https://ipsec.fortidemo.fortinet.com/remote/saml/logout"
        set idp-entity-id "http://fac.fortidemo.fortinet.com/saml-idp/corp/metadata/"
        set idp-single-sign-on-url "https://fac.fortidemo.fortinet.com/saml-idp/corp/login/"
        set idp-single-logout-url "https://fac.fortidemo.fortinet.com/saml-idp/corp/logout/"
        set idp-cert "fac_fortidemo_wildcard"
        set user-name "username"
        set group-name "group"
        set digest-method sha1
    next
    edit "SASE_VPN_SSO"
        set entity-id "https://turbo-REPLACE.edge.demo.fortisase.com/remote/saml/metadata"
        set single-sign-on-url "https://turbo-REPLACE.edge.demo.fortisase.com/remote/saml/login"
        set single-logout-url "https://turbo-REPLACE.edge.demo.fortisase.com/remote/saml/logout"
        set idp-entity-id "http://fac.fortidemo.fortinet.com/saml-idp/sase/metadata/"
        set idp-single-sign-on-url "https://fac.fortidemo.fortinet.com/saml-idp/sase/login/"
        set idp-single-logout-url "https://fac.fortidemo.fortinet.com/saml-idp/sase/logout/"
        set idp-cert "fac_fortidemo_wildcard"
        set user-name "username"
        set group-name "group"
        set digest-method sha1
    next
end


config system interface
    edit "port1"
        set vdom "root"
        set mode dhcp
        set allowaccess ping probe-response fabric
        set type physical
        set ike-saml-server "CORP_SAML_SERVER"
        set lldp-reception enable
        set role wan
        set snmp-index 1
    next


    edit "port2"
        set vdom "root"
        set mode dhcp
        set allowaccess ping probe-response fabric
        set type physical
        set ike-saml-server "SASE_VPN_SSO"
        set lldp-reception enable
        set role wan
        set snmp-index 107
    next

 end

config vpn ipsec phase1-interface
    edit "CORP_VPN"
        set type dynamic
        set interface "port1"
        set ike-version 2
        set peertype any
        set net-device disable
        set mode-cfg enable
        set ipv4-dns-server1 10.10.10.254
        set proposal aes128-sha256 aes256-sha256
        set dpd on-idle
        set dhgrp 15 5
        set eap enable
        set eap-identity send-request
        set ipv4-start-ip 10.10.10.1
        set ipv4-end-ip 10.10.10.100
        set ipv4-netmask 255.255.255.0
        set client-auto-negotiate enable
        set client-keep-alive enable
        set psksecret ENC cmbBua75bSwxrIyvj1ywZbvkVwJmOl41F12esdkE6XSX9f1pFNsS1gW8nB4Q8RZ3YnwsnTZdxHBSTCw3b+K6YvD3CLe4Phi6IcNIScLw+MKzjmjmFKUbi/3lzZ1gRKejQWxZKR+1egO7uUgu5so+oUgYJObN+G6gSWNjUpYe7EFGLx3tefUyjb4X1+thHSvJTX9FaVlmMjY3dkVA
        set dpd-retryinterval 60
    next


    edit "RC_VPN"
        set type dynamic
        set interface "port2"
        set ike-version 2
        set peertype any
        set net-device disable
        set mode-cfg enable
        set ipv4-dns-server1 9.9.9.9
        set proposal aes128-sha256 aes256-sha256 aes128gcm-prfsha256 aes256gcm-prfsha384 chacha20poly1305-prfsha256
        set dpd on-idle
        set dhgrp 5 15
        set eap enable
        set eap-identity send-request
        set ipv4-start-ip 10.10.10.100
        set ipv4-end-ip 10.10.10.200
        set client-auto-negotiate enable
        set client-keep-alive enable
        set psksecret ENC 4xX0VIrb09Ecz46RChFXpnKz0lUQ9vTHYWXCNI6OUG0+fKnwyfaszZLgPRQZSCxg0ouWjarHGaGIbgzpfIV0FjHtf94fndPFHGLxiJeLtjdjVKw03+Ur7W2r6PS5rVq+6JOf0bMbjOvIFMxXSx2hQD2Zcy7RPn/CKsQVGvBZXyLkYNzDVjK5oE4XqcWQa2djqZtYjFlmMjY3dkVA
        set dpd-retryinterval 60
    next
end

config vpn ipsec phase2-interface
    edit "CORP_VPN"
        set phase1name "CORP_VPN"
        set proposal aes128-sha256 aes256-sha256
        set dhgrp 5 15
    next


    edit "RC_VPN"
        set phase1name "RC_VPN"
        set proposal aes128-sha1 aes256-sha1 aes128-sha256 aes256-sha256 aes128gcm aes256gcm chacha20poly1305
        set dhgrp 5 15
    next

end

config system interface
    edit "CORP_VPN"
        set vdom "root"
        set ip 10.10.10.254 255.255.255.255
        set type tunnel
        set snmp-index 2
        set interface "port1"
    next
end

config user group
    edit "FAC"
        set member "CORP_SAML_SERVER"
    next
    edit "SASE-SSO-GRP"
        set member "SASE_VPN_SSO"
    next
end

config firewall policy
    edit 0
        set name "Corporate-VPN-SIA"
        set srcintf "CORP_VPN"
        set dstintf "underlay"
        set action accept
        set srcaddr "all"
        set dstaddr "all"
        set schedule "always"
        set service "ALL"
        set utm-status enable
        set inspection-mode proxy
        set ssl-ssh-profile "custom-deep-inspection"
        set av-profile "outbound"
        set webfilter-profile "outbound"
        set dlp-profile "outbound"
        set ips-sensor "outbound"
        set application-list "outbound"
        set logtraffic all
        set nat enable
        set groups "FAC"
    next
    edit 0
        set name "Corporate-VPN-SPA"
        set srcintf "CORP_VPN"
        set dstintf "overlay" "lan_zone"
        set action accept
        set srcaddr "all"
        set dstaddr "all"
        set schedule "always"
        set service "ALL"
        set utm-status enable
        set inspection-mode proxy
        set ssl-ssh-profile "custom-deep-inspection"
        set av-profile "outbound"
        set dlp-profile "outbound"
        set ips-sensor "outbound"
        set application-list "outbound"
        set logtraffic all
        set groups "FAC"
    next
end

config system dns-server
    edit "CORP_VPN"
    next
end

config system dns-database
    edit "unisase"
        set domain "unisase.lab"
        set authoritative disable
        set forwarder "10.1.0.7"
        set source-ip 10.10.10.254
    next
end

config router route-map
    edit "CorporateVPN"
        config rule
            edit 1
                set match-interface "CORP_VPN"
                unset set-ip-prefsrc
            next
            edit 2
                set match-interface "RC_VPN"
                unset set-ip-prefsrc
            next
        end
    next
end

config router bgp
    config redistribute "connected"
        set status enable
        set route-map "CorporateVPN"
    end
    config redistribute "static"
        set status enable
        set route-map "CorporateVPN"
    end
end