config vpn certificate remote
    edit "REMOTE_Cert_1"
    	set range global
        set remote "-----BEGIN CERTIFICATE-----
MIIH7DCCBtSgAwIBAgIQCjRZ7OUVbecUpNOUhRmsUjANBgkqhkiG9w0BAQsFADBZ
MQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMTMwMQYDVQQDEypE
aWdpQ2VydCBHbG9iYWwgRzIgVExTIFJTQSBTSEEyNTYgMjAyMCBDQTEwHhcNMjQw
OTA1MDAwMDAwWhcNMjUwOTA0MjM1OTU5WjByMQswCQYDVQQGEwJVUzETMBEGA1UE
CBMKQ2FsaWZvcm5pYTESMBAGA1UEBxMJU3Vubnl2YWxlMRcwFQYDVQQKEw5Gb3J0
aW5ldCwgSW5jLjEhMB8GA1UEAwwYKi5mb3J0aWRlbW8uZm9ydGluZXQuY29tMIIC
IjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvuFyTW6b2LFsv6h5iXT4p88V
tqQf21orkn7gDBaop8KhdSoq4HWHk6VMaXFQpg/iniR60Hweg1aaTPk/0fYUIC5D
HnKSFCx8/v601UnNY7bN0dXAV+CdGhk4lfGZsF1mgHmwEyV2JAwCXzw8Bcb7r+KI
hsfmkXjvAGyZBZ9V6nbFkocz2CD3rbKN3AzPbBRb53//A873D1GFcR6+kLe1KWJd
4hWaJO7gZJfC+kGoXnk+P54S83CcFe2A477KPNjoHY0e2zoEiYZz74TTVntTcu24
ggaYOV7pSxZJ95VtLVnUGUR4zUC6kuaeq7IDtZJpCBkotfn2/2NcADC3pitQQpk3
/XHOU+udPQ/k6oKEvsD9jQqRaee458J2AGNQMU+Gu4XHcLtkgO+qiXzH5AHMXwjB
0z6MqBN+wHPvdosMKUEF/FrMlhR0K3B58GVdJd5UDanDswqkMG/z2VkOObvLsAzv
LLpU43t6z9n7XEm92E9OCDwfxExStFFIBOlwucF95wfkv/G5z4WjPYony4zqHz9m
Z9FUOGEn8ymvaSfY2nmHIDXWqPJ+PFVvN4E4VS7JwvKFc8D5DiooBKHGsT81D5p3
DKwq4XY9EEV+x7JIXjxqK+JPsqczuQYL07BSKhuFfOW1ERmk4svf4s1MKVRrkOIm
LdLTpXiJya7CJFNLh90CAwEAAaOCA5UwggORMB8GA1UdIwQYMBaAFHSFgMBmx983
3s+9KTeqAx2+7c0XMB0GA1UdDgQWBBRvSlVohYfG4KhZT51ngBbSK+nJRTAjBgNV
HREEHDAaghgqLmZvcnRpZGVtby5mb3J0aW5ldC5jb20wPgYDVR0gBDcwNTAzBgZn
gQwBAgIwKTAnBggrBgEFBQcCARYbaHR0cDovL3d3dy5kaWdpY2VydC5jb20vQ1BT
MA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIw
gZ8GA1UdHwSBlzCBlDBIoEagRIZCaHR0cDovL2NybDMuZGlnaWNlcnQuY29tL0Rp
Z2lDZXJ0R2xvYmFsRzJUTFNSU0FTSEEyNTYyMDIwQ0ExLTEuY3JsMEigRqBEhkJo
dHRwOi8vY3JsNC5kaWdpY2VydC5jb20vRGlnaUNlcnRHbG9iYWxHMlRMU1JTQVNI
QTI1NjIwMjBDQTEtMS5jcmwwgYcGCCsGAQUFBwEBBHsweTAkBggrBgEFBQcwAYYY
aHR0cDovL29jc3AuZGlnaWNlcnQuY29tMFEGCCsGAQUFBzAChkVodHRwOi8vY2Fj
ZXJ0cy5kaWdpY2VydC5jb20vRGlnaUNlcnRHbG9iYWxHMlRMU1JTQVNIQTI1NjIw
MjBDQTEtMS5jcnQwDAYDVR0TAQH/BAIwADCCAX8GCisGAQQB1nkCBAIEggFvBIIB
awFpAHYAEvFONL1TckyEBhnDjz96E/jntWKHiJxtMAWE6+WGJjoAAAGRwzihyAAA
BAMARzBFAiB58a8W5iFTYFKdTeDPY3CGUwfzWyS4CZ1SAKX0F86ElAIhAM6zXYMP
YZj2yRLIDDOPG/tFShsIkgsqGU7rMfEHJjA/AHcAfVkeEuF4KnscYWd8Xv340Idc
FKBOlZ65Ay/ZDowuebgAAAGRwzihjQAABAMASDBGAiEAvrR5MNOuOTL/V5T8LW0l
UHFqnmM/g7aT5Eps7pXucmYCIQCcRVKyBhPwpLhLgWeWBBhjDGPrVbmOT3FmYZ0p
CuJ+fAB2AObSMWNAd4zBEEEG13G5zsHSQPaWhIb7uocyHf0eN45QAAABkcM4oakA
AAQDAEcwRQIgAj2YmOqlxT8ZAB7P5wemA1HoT++sksbIXO6aaH0Um3sCIQCNCopg
4ku6FcvFCaMqx+dfwr+fupEJ38N6dfbVsGwAZzANBgkqhkiG9w0BAQsFAAOCAQEA
tMV48o77UW0Fg//IXxRSZR9X8y2KKDLMpHC5ZsbWb6n4Z40Dfyj53YFMSv+W+u/W
FQ5fOnlOJmZwc4L9qoouxtOckMvYSrLNUCb4xki7aTABM/sons0HEip7seErH3pL
egE1Bcc6X2uh0GBDpntKrItrMokshSr91WE/V9EAw4ilQMP5NbprxZhE/Tu7vePa
FtZ5Jiz0hDT1Z93Ic3syFAV7bZNElBzT9S3mM55HCQsino322/raKZsiHsEZmBpY
uikWJCGMfZAc+uR62YLYq24MiwiBHip3Hu3P09Jtez23CWPq07N7/kFenBZfUPMv
ah8cyPMp31qhyrvUhTTgww==
-----END CERTIFICATE-----"
        
    next
end

config vpn ssl settings
    set banned-cipher SHA1 SHA256 SHA384
    set servercert ''
    set port 11443
end

config system global
    set admin-scp enable
    set admin-sport 8443
    set admintimeout 480
    set alias "FortiGate-VM64-KVM"
    set auth-ike-saml-port 443
    set hostname "site1-1"
    set timezone "US/Pacific"
end


config user setting
    set auth-cert "FortiDemo_Wildcard_092025"
end

config user saml
    edit "CORP_SAML_SERVER"
        set entity-id "http://ipsec.fortidemo.fortinet.com/remote/saml/metadata/"
        set single-sign-on-url "https://ipsec.fortidemo.fortinet.com/remote/saml/login"
        set single-logout-url "https://ipsec.fortidemo.fortinet.com/remote/saml/logout"
        set idp-entity-id "http://fac.fortidemo.fortinet.com:21443/saml-idp/corp/metadata/"
        set idp-single-sign-on-url "https://fac.fortidemo.fortinet.com:21443/saml-idp/corp/login/"
        set idp-single-logout-url "https://fac.fortidemo.fortinet.com:21443/saml-idp/corp/logout/"
        set idp-cert "REMOTE_Cert_1"
        set user-name "username"
        set group-name "group"
        set digest-method sha1
    next
    edit "SASE_VPN_SSO"
        set entity-id "https://turbo-3mrt467w.edge.demo.fortisase.com/remote/saml/metadata"
        set single-sign-on-url "https://turbo-3mrt467w.edge.demo.fortisase.com/remote/saml/login"
        set single-logout-url "https://turbo-3mrt467w.edge.demo.fortisase.com/remote/saml/logout"
        set idp-entity-id "http://fac.fortidemo.fortinet.com:21443/saml-idp/sase/metadata/"
        set idp-single-sign-on-url "https://fac.fortidemo.fortinet.com:21443/saml-idp/sase/login/"
        set idp-single-logout-url "https://fac.fortidemo.fortinet.com:21443/saml-idp/sase/logout/"
        set idp-cert "REMOTE_Cert_1"
        set user-name "username"
        set group-name "group"
        set digest-method sha1
    next
end


config system interface
    edit "port1"
        set vdom "root"
        set mode dhcp
        set allowaccess ping probe-response fabric
        set type physical
        set ike-saml-server "CORP_SAML_SERVER"
        set lldp-reception enable
        set role wan
        set snmp-index 1
    next


    edit "port2"
        set vdom "root"
        set mode dhcp
        set allowaccess ping probe-response fabric
        set type physical
        set ike-saml-server "SASE_VPN_SSO"
        set lldp-reception enable
        set role wan
        set snmp-index 107
    next

 end

config vpn ipsec phase1-interface
    edit "CORP_VPN"
        set type dynamic
        set interface "port1"
        set ike-version 2
        set peertype any
        set net-device disable
        set mode-cfg enable
        set ipv4-dns-server1 10.10.10.254
        set proposal aes128-sha256 aes256-sha256
        set dpd on-idle
        set dhgrp 15 5
        set eap enable
        set eap-identity send-request
        set ipv4-start-ip 10.10.10.1
        set ipv4-end-ip 10.10.10.100
        set ipv4-netmask 255.255.255.0
        set client-auto-negotiate enable
        set client-keep-alive enable
        set psksecret ENC cmbBua75bSwxrIyvj1ywZbvkVwJmOl41F12esdkE6XSX9f1pFNsS1gW8nB4Q8RZ3YnwsnTZdxHBSTCw3b+K6YvD3CLe4Phi6IcNIScLw+MKzjmjmFKUbi/3lzZ1gRKejQWxZKR+1egO7uUgu5so+oUgYJObN+G6gSWNjUpYe7EFGLx3tefUyjb4X1+thHSvJTX9FaVlmMjY3dkVA
        set dpd-retryinterval 60
    next


    edit "RC-VPN"
        set type dynamic
        set interface "port2"
        set ike-version 2
        set peertype any
        set net-device disable
        set mode-cfg enable
        set ipv4-dns-server1 9.9.9.9
        set proposal aes128-sha256 aes256-sha256 aes128gcm-prfsha256 aes256gcm-prfsha384 chacha20poly1305-prfsha256
        set dpd on-idle
        set dhgrp 5 15
        set eap enable
        set eap-identity send-request
        set ipv4-start-ip 10.10.10.100
        set ipv4-end-ip 10.10.10.200
        set client-auto-negotiate enable
        set client-keep-alive enable
        set psksecret ENC 4xX0VIrb09Ecz46RChFXpnKz0lUQ9vTHYWXCNI6OUG0+fKnwyfaszZLgPRQZSCxg0ouWjarHGaGIbgzpfIV0FjHtf94fndPFHGLxiJeLtjdjVKw03+Ur7W2r6PS5rVq+6JOf0bMbjOvIFMxXSx2hQD2Zcy7RPn/CKsQVGvBZXyLkYNzDVjK5oE4XqcWQa2djqZtYjFlmMjY3dkVA
        set dpd-retryinterval 60
    next
end

config vpn ipsec phase2-interface
    edit "CORP_VPN"
        set phase1name "CORP_VPN"
        set proposal aes128-sha256 aes256-sha256
        set dhgrp 5 15
    next


    edit "RC-VPN"
        set phase1name "RC-VPN"
        set proposal aes128-sha1 aes256-sha1 aes128-sha256 aes256-sha256 aes128gcm aes256gcm chacha20poly1305
        set dhgrp 5 15
    next

end

config system interface
    edit "CORP_VPN"
        set vdom "root"
        set ip 10.10.10.254 255.255.255.255
        set type tunnel
        set snmp-index 2
        set interface "port1"
    next
end

config user group
    edit "FAC"
        set member "CORP_SAML_SERVER"
    next
    edit "SASE-SSO-GRP"
        set member "SASE_VPN_SSO"
    next
end

config firewall policy
    edit 0
        set name "Corporate-VPN-SIA"
        set srcintf "CORP_VPN"
        set dstintf "underlay"
        set action accept
        set srcaddr "all"
        set dstaddr "all"
        set schedule "always"
        set service "ALL"
        set utm-status enable
        set inspection-mode proxy
        set ssl-ssh-profile "custom-deep-inspection"
        set av-profile "outbound"
        set webfilter-profile "outbound"
        set dlp-profile "outbound"
        set ips-sensor "outbound"
        set application-list "outbound"
        set logtraffic all
        set nat enable
        set groups "FAC"
    next
    edit 0
        set name "Corporate-VPN-SPA"
        set srcintf "CORP_VPN"
        set dstintf "overlay" "lan_zone"
        set action accept
        set srcaddr "all"
        set dstaddr "all"
        set schedule "always"
        set service "ALL"
        set utm-status enable
        set inspection-mode proxy
        set ssl-ssh-profile "custom-deep-inspection"
        set av-profile "outbound"
        set dlp-profile "outbound"
        set ips-sensor "outbound"
        set application-list "outbound"
        set logtraffic all
        set groups "FAC"
    next
end

config system dns-server
    edit "CORP_VPN"
    next
end

config system dns-database
    edit "unisase"
        set domain "unisase.lab"
        set authoritative disable
        set forwarder "10.1.0.7"
        set source-ip 10.10.10.254
    next
end

config router route-map
    edit "CorporateVPN"
        config rule
            edit 1
                set match-interface "CORP_VPN"
                unset set-ip-prefsrc
            next
            edit 2
                set match-interface "RC-VPN"
                unset set-ip-prefsrc
            next
        end
    next
end

config router bgp
    config redistribute "connected"
        set status enable
        set route-map "CorporateVPN"
    end
    config redistribute "static"
        set status enable
        set route-map "CorporateVPN"
    end
end